<%- include('header'); -%>

<h2>This Is About The Page </h2>

<p>bcic o9b i boe e bobvffhvi b eivb e eoohv ebiufdvvxknohs eb oe edficb eiehbviev eid eivbe eeb e eiehbviev eiev ie eibv </p>

<%- include('footer'); -%>
